<div class="search-area">
    <input id="txtSearch" type="text" class="search-input" placeholder="Wyszukaj" />
    <button id="btnSearch" class="btn-rounded btn-turquoise noevent" title="Wyczyść pole wyszukiwania">
        <span class="icon icon-lg icon-search"></span>
    </button>
</div>