################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Domains/BallroomDomain.Infrastructure/bin/Debug
/Domains/BallroomDomain.Infrastructure/obj/Debug
/Domains/BallroomDomain.Model/bin/Debug
/Domains/BallroomDomain.Model/obj/Debug
/Domains/BallroomDomain.Services/bin/Debug
/Domains/BallroomDomain.Services/obj/Debug
/Domains/DomainUtilities/bin/Debug
/Domains/DomainUtilities/obj/Debug
/Domains/GuestDomain.Infrastructure/bin/Debug
/Domains/GuestDomain.Infrastructure/obj/Debug
/Domains/GuestDomain.Model/bin/Debug
/Domains/GuestDomain.Model/obj/Debug
/Domains/GuestDomain.Services/bin/Debug
/Domains/GuestDomain.Services/obj/Debug
/Domains/TaksDomain.Infrastructure/bin/Debug
/Domains/TaksDomain.Infrastructure/obj/Debug
/Domains/TaskDomain.Model/bin/Debug
/Domains/TaskDomain.Model/obj/Debug
/Domains/TaskDomain.Services/bin/Debug
/Domains/TaskDomain.Services/obj/Debug
/Domains/UserDomain.Infrastructure/bin/Debug
/Domains/UserDomain.Infrastructure/obj/Debug
/Domains/UserDomain.Model/bin/Debug
/Domains/UserDomain.Model/obj/Debug
/Domains/UserDomain.Services/bin/Debug
/Domains/UserDomain.Services/obj/Debug
/ExpenseManagement/ExpenseManagement.Infrastructure/bin/Debug
/ExpenseManagement/ExpenseManagement.Infrastructure/obj/Debug
/ExpenseManagement/ExpenseManagement.Model/bin/Debug
/ExpenseManagement/ExpenseManagement.Model/obj/Debug
/ExpenseManagement/ExpenseManagement.Services/bin/Debug
/ExpenseManagement/ExpenseManagement.Services/obj/Debug
/Resources/WebUIComponent.Resources/bin/Debug
/Resources/WebUIComponent.Resources/obj/Debug
/UndoManagement/UndoManagement.Infrastructure/bin/Debug
/UndoManagement/UndoManagement.Infrastructure/obj/Debug
/UndoManagement/UndoManagement.Model/bin/Debug
/UndoManagement/UndoManagement.Model/obj/Debug
/UndoManagement/UndoManagement.Services/bin/Debug
/UndoManagement/UndoManagement.Services/obj/Debug
/Utilities/UtilitiesComponents/bin/Debug
/Utilities/UtilitiesComponents/obj/Debug
/Utilities/WebUtilities/bin/Debug
/Utilities/WebUtilities/obj/Debug
/WeddingTime/.vs
/WeddingTime/packages
/WeddingTime/WebUIComponent/bin
/WeddingTime/WebUIComponent/obj/Debug
