@{
    ViewBag.Title = " - polityka prywatności i plików cookies";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}


<div class="regulations-area">
    <div class="reulations-download">
        @Html.ActionLink("Pobierz Politykę prywatności i plików cookies w formie PDF", "GetPrivacyAndCookiesPolicy", "Documents")
    </div>
    <div>
<pre class="regulations">
        <strong>POLITYKA PRYWATNOŚCI I PLIKÓW „COOKIES”</strong>

Niniejszy dokument reguluje Politykę prywatności i plików „cookies” Serwisu internetowego prowadzonego w domenie Zamiłowani.pl (zwanego dalej Serwisem). Robert Wąsik (zwany dalej Usługodawcą) dochowuje wszelkiej należytej staranności w celu poszanowania prywatności użytkowników Serwisu.

<strong>Administrator</strong>
Administratorem danych zawartych w Serwisie internetowym Zamiłowani.pl jest Robert Wąsik, ul. Strońska 3J, 50-540 Wrocław, adres e-mail: kontakt@zamilowani.pl.

<strong>Dane osobowe</strong>
Użytkowników korzystających z Usług świadczonych drogą elektroniczną za pośrednictwem Serwisu prosimy o dobrowolne podanie danych osobowych, obejmujących w szczególności nazwę mogącą być imieniem i nazwiskiem oraz adres e-mail. Dane te mogą zostać zebrane, również jeśli jest to konieczne do realizacji umowy, gdy osoba, której dane dotyczą, jest jej stroną lub gdy jest to niezbędne do podjęcia działań przed zawarciem umowy na żądanie osoby, której dane dotyczą. W/w dane zostają przez nas zebrane w celu świadczenia Usług na rzecz osób których dotyczą. Odbiorcą zebranych danych jest wyłącznie Usługodawca.

Możemy również zwracać się do użytkowników korzystających z Usług świadczonych drogą elektroniczną za pośrednictwem Serwisu z prośbą o dobrowolne podanie danych osobowych, obejmujących w szczególności imię, nazwisko, adres, adres e-mail, numer telefonu w celach marketingowych. Cele te mogą obejmować w szczególności przesłanie przez Usługodawcę informacji handlowych przy użyciu danych kontaktowych Użytkownika. Zgoda na przetwarzanie danych w tym zakresie może być cofnięta w każdej chwili.

Administrator danych dochowuje szczególnej i należytej staranności w celu ochrony praw Użytkowników, których dane podlegają przetwarzaniu, a w szczególności zapewnia, aby dane te były:
•	przetwarzane zgodnie z prawem,
•	zbierane dla oznaczonych w niniejszym dokumencie i zgodnych z prawem celów,
•	nie poddawane dalszemu przetwarzaniu niezgodnemu z powyższymi celami,
•	merytorycznie poprawne i adekwatne w stosunku do celów, w jakich są przetwarzane,
•	przechowywane w postaci umożliwiającej identyfikację osób, których dotyczą, nie dłużej niż jest to niezbędne do osiągnięcia celu przetwarzania. 

Użytkownikom przysługuje prawo kontroli przetwarzania danych, które ich dotyczą, zawartych w zbiorach danych Usługodawcy. Jest to zwłaszcza prawo do dostępu do treści swoich danych oraz ich poprawiania, a także żądania uzupełnienia, uaktualnienia, sprostowania danych osobowych, czasowego lub stałego wstrzymania ich przetwarzania lub ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe lub zostały zebrane z naruszeniem ustawy albo są już zbędne do realizacji celu, dla którego zostały zebrane.

<strong>Dzienniki systemowe</strong>
To wewnętrzne dzienniki zdarzeń serwera Serwisu, automatycznie zapisujące żądania stron wysyłane, gdy użytkownicy odwiedzają jego witryny. Dzienniki systemowe zawierają żądanie strony wysłane przez użytkownika, adres IP, typ przeglądarki, język przeglądarki, datę i godzinę żądania oraz co najmniej jeden plik „cookie”, który może jednoznacznie identyfikować przeglądarkę użytkownika. 

<strong>Plik „cookie”</strong>
Jest niewielkim plikiem zawierającym ciąg znaków, który jest wysyłany do komputera użytkownika podczas odwiedzania przez niego Serwisu. Gdy użytkownik odwiedza Serwis ponownie, dzięki plikowi „cookie” przeglądarka użytkownika może zostać rozpoznana przez Serwis. W ustawieniach przeglądarki można wybrać opcję odrzucania plików „cookie” lub sygnalizowania, że taki plik został przesłany. Użytkownik Serwisu może wyrazić zgodę na korzystanie z plików „cookie”. Bez nich, niektóre funkcjonalności Serwisu mogą jednak nie działać poprawnie.

<strong>Gromadzenie danych</strong>
Dane gromadzone w dziennikach systemowych są wykorzystywane przez Usługodawcę przez czas nieokreślony wyłącznie w celu administrowania Serwisem. Nie są one przekazywane na rzecz podmiotów trzecich, z wyłączeniem okoliczności opisanych w niniejszym dokumencie.

W związku z korzystaniem z Serwisu przez użytkowników, w sposób automatyczny możemy zbierać i zapisywać w dziennikach serwerów szczegóły techniczne dotyczące sposobu korzystania z Usług, przesłane przez użytkownika żądania związane ze świadczeniem usług drogą elektroniczną, adres IP oraz dane techniczne o działaniu Serwisu w związku z czynnościami dokonywanymi przez użytkownika, w szczególności informacje o rozpoczęciu, zakończeniu oraz zakresie każdorazowego korzystania z Usługi świadczonej drogą elektroniczną. Możemy również zbierać informacje, celem przechowywania ich lokalnie na urządzeniu użytkownika, korzystając z mechanizmu pamięci przeglądarki. 

W trakcie świadczenia Usług na rzecz użytkowników, stosujemy profesjonalne technologie do gromadzenia i zapisywania informacji, takie jak pliki „cookie”. Dostęp do danych „cookie” może posiadać również firma Google za pośrednictwem narzędzi Google Analytics oraz Google Adwords, w celu sporządzenia statystyk ruchu oraz skuteczności kampanii promocyjnych realizowanych przez Usługodawcę za pomocą wyżej wymienionych narzędzi.

Dane zgromadzone w Serwisie zgromadzone są na zewnętrznych bezpiecznych i profesjonalnych serwerach, na podstawie umów zawartych przez Usługodawcę. Usługodawca dochowuje należytych środków ostrożności, celem zabezpieczenia danych osobowych użytkowników przed dostępem osób nieuprawnionych, zniszczeniem, ujawnieniem oraz bezprawnym wykorzystaniem. Do przetwarzania danych użytkowników Serwisu uprawnieni są wyłącznie sami użytkownicy, Usługodawca oraz wskazane w niniejszym dokumencie podmioty trzecie w celach statystycznych.

<strong>Inne</strong>
Serwis może zawierać odnośniki do innych stron internetowych. Nie ponosimy odpowiedzialności za obowiązujące na tych stronach zasady przestrzegania polityki prywatności. Zalecamy zapoznania się z polityką prywatności tych stron po wejściu na nie. 

Usługodawca zastrzega prawo do zmiany Polityki prywatności i plików „cookies”.


Niniejszy dokument stanowi załącznik do Regulaminu świadczenia usług drogą elektroniczną przez Zamiłowani.pl
</pre>
    </div>
</div>
