@{
    ViewBag.Title = " - regulamin";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}

<div class="regulations-area">
    <div class="reulations-download">
        @Html.ActionLink("Pobierz Regulamin serwisu w formie PDF", "GetUserAgreement", "Documents")
    </div>
    <div>
<pre class="regulations">
        <strong>REGULAMIN ŚWIADCZENIA USŁUG DROGĄ ELEKTRONICZNĄ</strong>

        <strong>Postanowienia wstępne</strong>
1.	<strong>Regulamin</strong> to niniejszy Regulamin świadczenia usług drogą elektroniczną w obszarze domeny internetowej Zamiłowani.pl, który określa warunki świadczenia Usług przez Usługodawcę za pośrednictwem witryny www.Zamiłowani.pl na rzecz Użytkowników.
2.	<strong>Użytkownik</strong> to podmiot, który zawiera ze Usługodawcą umowę o świadczenie Usługi, pod warunkiem posiadania pełnej zdolności do czynności prawnych, lub ograniczonej zdolności do czynności prawnych w przypadkach uregulowanych przepisami prawa powszechnie obowiązującego albo bycia osobą prawną lub jednostką organizacyjną.
3.	<strong>Konsument</strong> to Użytkownik, który jest osobą fizyczną i zawiera umowę niezwiązaną bezpośrednio z prowadzoną przez niego działalnością gospodarczą lub zawodową.
4.	<strong>Usługodawca</strong> to Robert Wąsik, ul. Strońska 8/3J, 50-540 Wrocław, będący Usługodawcą, administratorem i właścicielem Serwisu.
5.	<strong>Serwis</strong> to serwis internetowy prowadzony przez Usługodawcę w języku polskim za pośrednictwem witryny www dostępnej w sieci Internet pod adresem url www.Zamiłowani.pl.
6.	<strong>Usługa</strong> to usługa prowadzenia Konta Klienta świadczona przez Usługodawcę na rzecz Użytkownika, na podstawie umowy zawartej pomiędzy stronami za pośrednictwem Serwisu, w ramach zorganizowanego systemu zawierania umów na odległość, bez jednoczesnej fizycznej obecności stron. 
7.	<strong>Dane Kontaktowe Usługodawcy</strong> to dane Usługodawcy, przy użyciu których Użytkownik może się z nim skontaktować, tj. Robert Wąsik, ul. Strońska 8/3J, 50-540 Wrocław, adres e-mail: kontakt@zamilowani.pl.
8.	<strong>Dane Kontaktowe Użytkownika</strong> to dane Użytkownika, przy użyciu których Usługodawca może skontaktować się z Użytkownikiem, obejmujące adres poczty elektronicznej i jego nazwę.
9.	<strong>Konto Użytkownika</strong> to panel zarządzający zamówieniami Użytkownika i Usługami świadczonymi na jego rzecz, dostępny w obszarze Serwisu, pod warunkiem Rejestracji lub Logowania. 
10.	<strong>Rejestracja</strong> to utworzenie Konta Użytkownika przez Użytkownika, przy użyciu formularza rejestracyjnego Serwisu znajdującego się na jego stronie internetowej.
11.	<strong>Logowanie</strong> to proces uwierzytelnienia i autoryzacji Użytkownika, polegający na podaniu nazwy Użytkownika oraz hasła uwierzytelniającego w celu uzyskania dostępu do Konta Użytkownika. Logowanie może następować również przy użyciu zewnętrznych kont Użytkownika: Microsoft, Facebook lub Google.

<strong>§1 Ogólne warunki umowne</strong>
1.	Usługodawca na podstawie art. 8 ust. 1 pkt 1 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną ustanawia Regulamin, który udostępnia pod adresem url Serwisu, w brzmieniu: www.Zamiłowani.pl
2.	Usługodawca świadczy Usługi zgodnie z Regulaminem i przepisami powszechnie obowiązującego prawa.
3.	Usługodawca udostępnia niniejszy Regulamin na stronie internetowej Serwisu. 
4.	Użytkownicy mogą w dowolnym czasie: uzyskać dostęp do Regulaminu, utrwalić go, pozyskać i odtworzyć poprzez wydrukowanie lub zapisanie na nośniku danych.
5.	Świadczenie Usług odbywa się za pośrednictwem strony internetowej Serwisu przez 24 godziny na dobę i 7 dni w tygodniu.
6.	W celu korzystania z Serwisu konieczne jest dysponowanie przez Użytkownika urządzeniem teleinformatycznym z dostępem do sieci Internet, poprawnie skonfigurowaną przeglądarką internetową w wersji aktualnej bądź poprzedniej: Google Chrome, Microsoft Internet Explorer, Mozilla Firefox lub Opera, a także aktywnym i poprawnie skonfigurowanym kontem poczty elektronicznej.
7.	Korzystanie z Serwisu następuje poprzez zapoznanie się z jego zawartością. 
8.	Zakończenie korzystania z Serwisu następuje poprzez jego opuszczenie.
 
<strong>§2 Rejestracja i Logowanie</strong>
1.	Zarządzanie Usługami odbywa się przy użyciu Konta Użytkownika. 
2.	Korzystanie z Konta Użytkownika jest możliwe po Rejestracji i Logowaniu lub Logowaniu przy użyciu zewnętrznego konta Klienta: Microsoft, Facebook lub Google.
3.	Rejestracja dokonywana jest poprzez wypełnienie i wysłanie Usługodawcy formularza rejestracyjnego, który jest udostępniony w obszarze strony internetowej Serwisu.
4.	Wypełnienie formularza dokonywane jest poprzez wypełnienie wszystkich obowiązkowych oraz ewentualnie opcjonalnych pól formularza, przy użyciu prawdziwych, kompletnych i dotyczących Użytkownika danych, a w szczególności Danych Kontaktowych Użytkownika.
5.	Wysłanie formularza rejestracyjnego dokonywane jest poprzez jego wysłanie do Usługodawcy za pośrednictwem Serwisu, przy użyciu właściwej funkcjonalności, znajdującej się w obszarze formularza rejestracyjnego.
6.	Dokonując Logowania z pominięciem Rejestracji lub dokonując Rejestracji, Użytkownik przyjmuje ofertę Usługodawcy w przedmiocie świadczenia na jego rzecz Usługi prowadzenia Konta Klienta.

<strong>§3 Ogólne informacje na temat funkcjonalności Serwisu</strong>
1.	Korzystanie z funkcjonalności Konta Klienta jest bezpłatne i możliwe po zalogowaniu do Konta Klienta.
2.	Uzyskanie dostępu do funkcjonalności następuje poprzez jej wybór w obszarze zakładek zamieszczonych w górnej belce Serwisu.
3.	Katalog funkcjonalności Konta Klienta obejmuje udostępnienie funkcjonalności tworzenia i edycji listy gości, wydatków, zadań oraz planowania układu sali weselnej, drogą elektroniczną za pośrednictwem Serwisu.
4.	Użytkownik może w każdej chwili zakończyć korzystanie z funkcjonalności poprzez porzucenie dokonywanej czynności w obszarze Serwisu lub jego opuszczenie.

<strong>§4 Lista gości</strong>
1.	Funkcjonalność tworzenia i edycji listy gości umożliwia tworzenie i edycję oznaczonej indywidualną nazwą listy gości weselnych.
2.	Dodanie nowej grupy gości następuje poprzez uzupełnienie formularza dodania grupy gości o jej nazwę.
3.	Dodanie nowej osoby w charakterze gościa następuje poprzez: 
1.	uzupełnienie formularza dodania nowej osoby poprzez wprowadzenie jej imienia, nazwiska, telefonu kontaktowego, adresu e-mail i adresu,
2.	wybór statusu wieku: osoba dorosła albo dziecko oraz
3.	wybór statusu obecności: potwierdzony albo niepotwierdzony.
4.	Wprowadzając dane osobowe gości, Użytkownik oświadcza iż ich przetwarzanie następuje wyłącznie w celach osobistych lub domowych.
5.	W przypadku, gdy dane osobowe gości są wprowadzane przez Użytkownika w celach innych niż osobiste lub domowe, przed wprowadzeniem danych Użytkownik jest zobowiązany skontaktować się z Usługodawcą, celem zawarcia pisemnej umowy o powierzenie danych osobowych, zgodnie z przepisami ustawy o ochronie danych osobowych.
6.	Użytkownik może edytować lub usunąć wybraną grupę lub osobę w dowolnej chwili, przy użyciu właściwego przycisku.

<strong>§5 Lista wydatków</strong>
1.	Funkcjonalność tworzenia i edycji listy wydatków umożliwia tworzenie, edycję i eksport listy wydatków weselnych.
2.	Wprowadzenie kwoty dostępnego budżetu następuje poprzez uzupełnienie formularza edycji listy wydatków o kwotę budżetu.
3.	Dodanie wydatku następuje poprzez uzupełnienie formularza dodania wydatku o nazwę lub opis, ilość i cenę jednostkową.
4.	Formularz dodania wydatku automatycznie oblicza cenę wydatku, uwzględniając iloczyn ilości i ceny jednostkowej wydatku.
5.	Formularz listy wydatków automatycznie oblicza wartość pozostałego budżetu, uwzględniając różnicę kwoty całkowitej wydatków oraz kwoty budżetu.
6.	Użytkownik może edytować lub usunąć wybrany wydatek w dowolnej chwili, przy użyciu właściwego przycisku.
7.	Użytkownik może eksportować listę wydatków w dowolnej chwili do pliku w formacie PDF poprzez użycie właściwego przycisku.

<strong>§6 Lista zadań</strong>
1.	Funkcjonalność tworzenia i edycji listy zadań umożliwia tworzenie i edycję listy zadań weselnych.
2.	Dodanie nowego zadania następuje poprzez uzupełnienie formularza dodania zadania o jego nazwę.
3.	Edycja zadania następuje poprzez wybór jego pola i umożliwia:
1.	wprowadzenie opisu zadania, 
2.	nadanie mu statusu realizacji: nowe, trwające albo zrealizowane, 
3.	wprowadzenie daty przypomnienia o zadaniu,
4.	przypisanie karty do zadania, zawierającej zależnie od wyboru adres e-mail, dane osoby kontaktowej, adres, nr telefonu lub link url. 
4.	Użytkownik może edytować lub usunąć wybrane zadanie w dowolnej chwili, przy użyciu właściwego przycisku.

<strong>§7 Sala weselna</strong>
1.	Funkcjonalność planowania sali weselnej umożliwia tworzenie i edycję graficznego planu ustawienia sali weselnej oraz posadzenia gości.
2.	Planowanie ustawienia sali weselnej dokonywane jest poprzez dodawanie, przemieszczanie oraz usuwanie wizualizacji stołów i innych elementów metodą „przeciągnij i upuść”. 
3.	Planowanie posadzenia gości dokonywane jest poprzez przypisywanie wizualizacji gości do wybranych miejsc siedzących metodą „przeciągnij i upuść”.
4.	Użytkownik może przenieść lub usunąć wybraną wizualizację stołu, gościa lub innego elementu w dowolnej chwili, przy użyciu właściwego przycisku.

<strong>§8 Reklamacje</strong>
1.	Reklamacje z tytułu Usług świadczonych przez Usługodawcę można składać drogą elektroniczną lub tradycyjną, przy użyciu Danych Kontaktowych Usługodawcy.
2.	Zgłoszenie reklamacyjne powinno zawierać opis problemu oraz dane identyfikacyjne Użytkownika.
3.	Usługodawca rozpoznaje reklamacje w terminie 14 dni od daty zgłoszenia. W treści składanej reklamacji zaleca się podanie Danych Kontaktowych Użytkownika, które posłużą udzieleniu odpowiedzi na reklamację oraz prowadzeniu korespondencji z nią związanej.
4.	Reklamacje można składać z tytułu rękojmi za wady Usług. 
5.	Usługodawca poinformuje Użytkownika o decyzji w przedmiocie rozpoznania reklamacji drogą elektroniczną lub pisemną, przy użyciu Danych Kontaktowych Użytkownika.
6.	Konsument posiada możliwość skorzystania z następujących pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń:
1.	złożenie wniosku o rozstrzygnięcie sporu wynikłego z zawartej umowy do stałego polubownego sądu konsumenckiego działającego przy Inspekcji Handlowej,
2.	złożenie wniosku o wszczęcie postępowania mediacyjnego w sprawie polubownego zakończenia sporu między Konsumentem, a Usługodawcą do Wojewódzkiego Inspektora Inspekcji Handlowej,
3.	skorzystanie z pomocy powiatowego lub miejskiego rzecznika konsumentów lub organizacji społecznej, do której zadań statutowych należy ochrona konsumentów.

<strong>§9 Odstąpienie od umowy</strong>
1.	Konsument może bez podawania przyczyny odstąpić w terminie 14 dni od Umowy o świadczenie Usługi, bez podania jakiejkolwiek przyczyny.
2.	Termin 14 dni na odstąpienie od umowy liczony jest od daty złożenia przez Konsumenta zamówienia na świadczenie Usługi przez Usługodawcę.
3.	Oświadczenie o odstąpieniu od umowy można złożyć na formularzu, którego wzór stanowi załącznik do Regulaminu zamieszczony w obszarze strony internetowej Serwisu i dostępny <a href="/Documents/GetWithdrawal">do pobrania tutaj</a>, ale nie jest to obowiązkowe.
4.	Aby zachować termin do odstąpienia od umowy, wystarczy, aby Konsument wysłał informację dotyczącą wykonania przysługującego prawa odstąpienia przed upływem terminu wskazanego w pkt 2.
5.	Aby skorzystać z prawa odstąpienia od umowy, Konsument musi poinformować Usługodawcę przy użyciu Danych Kontaktowych Usługodawcy, o swojej decyzji o odstąpieniu od umowy w drodze jednoznacznego oświadczenia, na przykład pisma wysłanego pocztą tradycyjną lub elektroniczną.
6.	W przypadku otrzymania drogą elektroniczną oświadczenia o odstąpieniu przez Konsumenta od umowy, Usługodawca niezwłocznie prześle Użytkownikowi potwierdzenie jego otrzymania.
7.	W przypadku odstąpienia od umowy, uważa się ją za niezawartą. Jeżeli Konsument złożył oświadczenie o odstąpieniu od umowy zanim Usługodawca przyjął jego ofertę, oferta przestaje wiązać.

<strong>§10 Postanowienia uzupełniające</strong>
1.	Wszelkie znaki towarowe, elementy graficzne i zdjęcia zamieszczone na stronie internetowej Serwisu są przedmiotem praw autorskich Usługodawcy lub ich właścicieli.
2.	Domena internetowa Serwisu, jego logotypy, nazwa i Regulamin stanowią własność prawa autorskiego i przedmiot ochrony prawnej.
3.	Użytkownik przyjmuje do wiadomości, iż zabronione jest dostarczanie przez Użytkownika treści bezprawnych. 
4.	Usługodawca zobowiązuje się do dokładania należytych starań celem umożliwienia prawidłowego funkcjonowania Serwisu oraz do udzielania pomocy w rozwiązywaniu problemów technicznych, związanych z jego działaniem.
5.	Usługodawca zobowiązuje się do prowadzania działań zmierzających do ochrony danych znajdujących się w Koncie Użytkownika przed nieuprawnionym dostępem i użyciem. Użytkownik ponosi odpowiedzialność za następstwa ujawnienia swojego loginu lub hasła osobom trzecim.
6.	Usługodawca nie ponosi odpowiedzialności za: 
1.	przerwy w prawidłowym funkcjonowaniu Serwisu oraz nienależyte wykonywanie Usług, spowodowane siłą wyższą, w stosunku do Użytkowników niebędących Konsumentami,
2.	przerwy w prawidłowym funkcjonowaniu Serwisu oraz nienależyte wykonywanie Usług na rzecz Użytkowników niebędących Konsumentami, spowodowane czynnościami technicznymi lub przyczyną leżącą po stronie podmiotów za pomocą których Serwis świadczy Usługi,
3.	korzyści utracone przez Użytkownika niebędącego Konsumentem,
4.	następstwa wykorzystania danych dostępowych do Konta Użytkownika przez osoby trzecie, w przypadku gdy weszły one w ich posiadanie w następstwie naruszenia postanowień Regulaminu przez Użytkownika,
5.	szkody spowodowane naruszeniem przez Użytkownika postanowień Regulaminu.

<strong>§11 Postanowienia końcowe</strong>
1.	Usługodawca może zbierać informacje, celem przechowywania ich lokalnie na urządzeniu Użytkownika, korzystając z mechanizmu pamięci przeglądarki przy użyciu plików „cookies”. 
2.	Dane osobowe użytkowników Serwisu przetwarzane są na podstawie zgody osób, których dotyczą lub gdy jest to konieczne do realizacji umowy, gdy osoba której dane dotyczą jest jej stroną lub gdy jest to niezbędne do podjęcia działań przed zawarciem umowy na żądanie osoby, której dane dotyczą.
3.	Dane osobowe Użytkowników są zbierane w celu świadczenia Usług przez Usługodawcę. Osobom, których dane zostały przez Usługodawcę zebrane, przysługuje prawo dostępu do treści swoich danych, poprawiania ich oraz wniesienia pisemnego umotywowanego żądania zaprzestania ich przetwarzania, a także sprzeciwu wobec tego.
4.	Zasady przetwarzania danych osobowych, polityki prywatności oraz polityki plików „cookies” uregulowane zostały w dokumencie „Polityka prywatności oraz polityka plików cookies”, stanowiącym załącznik do Regulaminu, zamieszczony w obszarze strony internetowej Serwisu i dostępny <a href="/Documents/GetPrivacyAndCookiesPolicy">do pobrania tutaj</a>.
5.	Zawierając umowę o świadczenie Usługi, Użytkownik dobrowolnie upoważnia Usługodawcę do przesyłania pod Dane Kontaktowe Użytkownika informacji związanych z Usługami oraz ich wykonaniem, a także informacji handlowych w przypadku wyrażenia na to odrębnej zgody.
6.	Użytkownik niebędący Konsumentem jest zobowiązany do informowania Usługodawcy o zmianach Danych Kontaktowych Użytkownika, pod rygorem skuteczności ich zastosowania przy doręczeniach.
7.	Postanowienia Regulaminu nie mają na celu wyłączać ani ograniczać praw Użytkownika będącego Konsumentem, wynikających z przepisów polskiego prawa powszechnie obowiązującego.
8.	W przypadku niezgodności postanowień Regulaminu z przepisami polskiego prawa powszechnie obowiązującego, stosuje się te przepisy. 
9.	W kwestiach nieuregulowanych Regulaminem zastosowanie mają przepisy polskiego prawa powszechnie obowiązującego.
</pre>
    </div>
</div>