<div id="errorInfo" class="info-fixed-bottom">
    <div class="container">
        <div class="text-center">
            <div class="error-area">
                <div class="error-desc">
                    <span>Wystąpił błąd. Spróbuj ponownie.</span>
                </div>
                <div class="error-actions">                   
                    <button type="button" class="btn-rounded btn-dismiss btn-close-error" title="Zamknij panel">
                        <span class="icon icon-lg icon-cancel"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>