<div id="cookieAlert" class="alert alert-dismissible cookie-alert" role="alert">
    <button type="button" class="btn-rounded btn-small btn-dismiss right" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="icon icon-sm icon-cancel"></span>
    </button>
    <p class="text-center">
        Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a href="/Documents/PrivacyAndCookiesPolicy">Polityką Plików Cookies</a>. Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce.        
    </p>
</div>