@model AIT.WebUIComponent.Models.Guests.GroupModel

<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="lblUpdateGroup" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @using (Ajax.BeginForm("UpdateGroup", "Guests", null, new AjaxOptions
            {
                OnBegin = "groupManager.beforeUpdate",
                OnSuccess = "groupManager.onUpdateSuccess",
                OnFailure = "groupManager.onUpdateFailure"
            }, new { autocomplete = "off" }))
            {
                <div class="modal-header">
                    <button type="button" class="btn-rounded btn-small btn-dismiss right" data-dismiss="modal" aria-hidden="true">
                        <span class="icon icon-sm icon-cancel"></span>
                    </button>
                    <h4 class="modal-title" id="lblUpdateGroup">AKTUALIZUJ NAZWĘ GRUPY</h4>
                </div>
                <div class="modal-body">
                    <div class="form-ctrl-area">
                        @Html.TextBoxFor(n => n.Name, new { @class = "form-ctrl uppercase", placeholder = "Nazwa grupy", id = "txtUpdateGroupName" })
                    </div>                    
                    @Html.HiddenFor(x => x.Id, new { id = "editGroupId" })
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-rounded btn-turquoise disabled" title="Zapisz">
                        <span class="icon icon-lg icon-save"></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>