<div>
    <span>
        Zaakceptowani:
    </span>
    <span class="bolded" data-bind="accepted">0</span>
</div>
<div>
    <span>
        - Dorośli:
    </span>
    <span class="bolded" data-bind="acceptedAdults">0</span>
</div>
<div>
    <span>
        - Dzieci:
    </span>
    <span class="bolded" data-bind="acceptedChild">0</span>
</div>
<div>
    <span>
        Ubyło:
    </span>
    <span class="bolded" data-bind="declined">0</span>
</div>
<div>
    <span>
        Niepotwierdzeni:
    </span>
    <span class="bolded" data-bind="unconfirmed">0</span>
</div>