@{
    ViewBag.Title = " - zmiana adresu e-mail";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}

<div class="row">
    <p class="form-text">
        POTWIERDŹ NOWY ADRES E-MAIL
    </p>
    <hr class="separator" />
</div>
<div class="row">
    <div class="text-center page-desc">
        <p>
            Sprawdź pocztę e-mail.
        </p>
        <p>
            Na podany adres został wysłany link aktywacyjny do Twojego konta.
        </p>       
    </div>
</div>
