@{
    ViewBag.Title = " - rejestracja";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}

<div class="row">
    <p class="form-text">
        POTWIERDŹ SWOJE KONTO
    </p>
    <hr class="separator" />
</div>
<div class="row">
    <div class="text-center page-desc">
        <p>
            Sprawdź pocztę e-mail.
        </p>
        <p>
            Na podany adres został wysłany link aktywacyjny do stworzonego konta.
        </p>
        <p>
            Aktywacja konta to ostatni krok przed rozpoczęciem korzystania z serwisu Zamiłowani.pl
        </p>
    </div>
</div>
