@model AIT.WebUIComponent.Models.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = " - zmiana hasła";
    Layout = "~/Views/Shared/_LayoutSubPage.cshtml";
}

<div class="row">
    <p class="form-text">
        ZMIANA HASŁA
    </p>
    <hr class="separator" />
</div>
<div class="row">
    <div class="form-panel">
        <div class="form-header form-header-blue">
            <div class="form-title">
                Znajdź swoje konto
            </div>
        </div>
        <div class="form-body form-body-blue">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPassForm", @class = "form-reset", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-inputs">
                    <div class="form-ctrl-area">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-ctrl", placeholder = "E-mail" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-body-btn">
                    <button type="submit" class="btn-rounded btn-turquoise">
                        <span class="icon icon-lg icon-save"></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/enhance")
}